.about {
  width: 100%;

  .madatech-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    .we {
      font-size: 4rem;
    }

    .arrow-down {
      font-size: 4rem;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15%;
        object-fit: scale-down;
        margin: 0 20px;
      }

      span {
        font-size: 3rem;
        color: #4472c4;
      }
    }

    .edu-love {
      text-align: center;
      margin-top: 30px;
      font-size: 2rem;

      .slogan {
        font-size: 4rem;
        margin-top: 30px;
        color: #00e613;

        .heart {
          color: red;
        }
      }
    }

    .about-madatech {
      width: 80%;
    }

    .contact-section {
      width: 80%;

      .contact-form {
        display: flex;
        flex-direction: column;

        .message-item {
          font-size: 1.5rem;
          margin: 10px 0;
        }

        .messeage-area {
          font-size: 1.5rem;
          border: solid 2px #00e613;
        }

        .button-container {
          display: flex;
          justify-content: flex-end;
          margin: 20px 10px;

          .button {
            background-color: #00e613;
            color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 10px 20px;
            border: none;
            border-radius: 10%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .about {
    width: 100%;

    .madatech-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;

      .we {
        font-size: 2rem;
      }

      .arrow-down {
        font-size: 2rem;
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 15%;
          object-fit: scale-down;
          margin: 0 10px;
        }

        span {
          font-size: 2rem;
          color: #4472c4;
        }
      }

      .edu-love {
        text-align: center;
        margin-top: 30px;
        font-size: 1.5rem;

        .slogan {
          font-size: 2rem;
          margin-top: 30px;
          color: #00e613;

          .heart {
            color: red;
          }
        }
      }

      .about-madatech {
        width: 80%;
      }

      .contact-section {
        width: 80%;

        .contact-form {
          display: flex;
          flex-direction: column;

          .message-item {
            font-size: 1.2rem;
            margin: 10px 0;
          }

          .messeage-area {
            font-size: 1.2rem;
            border: solid 2px #00e613;
          }

          .button-container {
            display: flex;
            justify-content: flex-end;
            margin: 20px 10px;

            .button {
              background-color: #00e613;
              color: white;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
              padding: 10px 20px;
              border: none;
              border-radius: 10%;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
