.App {
  display: grid;
  grid-template-rows: auto auto 50px;
  background-color: #f5fff5;
  font-family: "Balsamiq Sans", cursive;
}

.App-header {
  background-color: #00e613;
}

.App-content {
  background-color: white;
  margin: 0 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-footer {
  background-color: #00e613;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .App {
    grid-template-rows: auto auto 50px;
  }
  .App-content {
    margin: 0 25px;
  }
}
