.teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.teacher .back {
  padding: 15px;
  background-color: #00e613;
  color: white;
  text-align: center;
  width: 100px;
  font-size: 1.2rem;
}

.teacher .title {
  font-size: 2rem;
  color: black;
  margin: 20px;
  text-align: center;
}

.teacher .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
}

.teachers .title {
  margin: 20px 20px;
}

.teachers .create-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70%;
}

.teachers .create-new button {
  background-color: #00e613;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10%;
  padding: 10px 20px;
}

.teachers .create-new button:hover {
  background-color: #11991c;
}

.teachers .filter-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 20px;
}

.teachers .filter-options .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
}

.teachers .filter-options .search input {
  width: 80%;
  font-size: 1.5rem;
  border: solid 3px #00e613;
  font-family: "Balsamiq Sans", cursive;
}

.teachers .filter-options .search div {
  font-size: 1.5rem;
  background-color: #00e613;
  color: white;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers .filter-options .grade {
  background-color: #00e613;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 1.5rem;
}

.teachers .filter-options .grade option {
  color: white;
  background-color: #00e613;
}

.teachers .filter-options .grade:hover {
  background-color: #11991c;
}

.teachers hr {
  margin: 10px 0;
}

.teachers .teacher-list {
  width: 70%;
}

.teachers .teacher-list tbody tr td {
  font-size: 1.3rem;
  padding: 20px 20px;
  border-left: dashed 2px #00e613;
  border-bottom: dashed 2px #00e613;
}

.teachers .teacher-list tbody tr:hover {
  background-color: lightgreen;
}

.teachers .teacher-list tr th {
  color: #00e613;
  padding: 10px 0;
  font-size: 1.5rem;
  border-left: dashed 2px #00e613;
  border-bottom: dashed 2px #00e613;
}

.teachers .teacher-list tr th:first-child {
  border-left: none;
}

.teachers .teacher-list tr td:first-child {
  border-left: none;
  color: blue;
}

@media only screen and (max-width: 900px) {
  .teacher .back {
    padding: 10px;
    width: 70px;
    font-size: 1rem;
  }
  .teacher .title {
    font-size: 1.5rem;
  }
  .teachers {
    padding: 20px 10px;
  }
  .teachers .title {
    font-size: 2rem;
    margin: 10px 10px;
  }
  .teachers .create-new {
    width: 100%;
  }
  .teachers .create-new button {
    font-size: 1rem;
  }
  .teachers .filter-options {
    width: 100%;
  }
  .teachers .filter-options .search {
    width: 80%;
  }
  .teachers .filter-options .search input {
    width: 80%;
    font-size: 1rem;
  }
  .teachers .filter-options .search div {
    font-size: 1rem;
    width: 10%;
  }
  .teachers .filter-options .grade {
    background-color: #00e613;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
  }
  .teachers .filter-options .grade option {
    color: white;
    background-color: #00e613;
  }
  .teachers hr {
    margin: 0;
    width: 100%;
  }
  .teachers .teacher-list {
    width: 100%;
  }
  .teachers .teacher-list tbody tr td {
    font-size: 0.8rem;
    padding: 10px 0px;
    text-align: center;
  }
  .teachers .teacher-list tr th {
    padding: 10px 0;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=Teacher.css.map */